body {
  padding: 100px;
  font-family: 'DynaPuff', cursive;
  font-size: 20px;
  line-height: 2;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}
button {
  font-family: 'DynaPuff', cursive;
  font-size: 14px;
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgb(9, 138, 138);
  color: aliceblue;
  cursor: pointer;
}
.button {
  margin-bottom: 50px;
}
button:hover {
  background-color: rgb(10, 78, 78);
}
button:disabled {
  background-color: rgb(124, 124, 124);
  pointer-events: none;
}
input {
  height: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.wrapper {
  display: flex;
}
.box {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(10, 78, 78);
  margin-right: 10px;
}
.box.second {
  margin-bottom: 50px;
}
.unite-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 100px;
}
.timer {
  display: flex;
  margin-top: -30px;
}
.field {
  display: flex;
  flex-direction: column;
}
.field:not(:last-child) {
  margin-right: 20px;
  border-right: 1px solid rgb(10, 78, 78);
  padding-right: 10px;
}

.value {
  color: rgb(10, 78, 78);
}
.label {
  font-weight: 400;
  font-size: 14px;
}
